@import "modules/zeroStyle";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
@import 'modules/header';
@import 'modules/indexContent';
@import 'modules/card';
@import 'modules/footer';
@import 'modules/subHeader';
@import 'modules/_filters';
@import 'modules/_products';
@import 'modules/_numbers';
@import 'modules/_product';
@import 'modules/_cart';
@import 'modules/registration';

.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0px 10px 0px 10px;
}


