.card {
    max-height: 580px;
	transition: 0.5s all ease-in-out 0s;
    text-align: left;
    position: relative;
	

    &__img {
        display: block;	    
	}
	&__img:hover .overlay{		
		opacity: 1;
	}

    &__subscription {
        padding: 24px 29px 20px 16px;
        background-color: #F8F8F8;

    }

    &__title {

        font-family: $fontFamily;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        color: #000;
    }

    &__text {

        margin-top: 13px;
        font-family: $fontFamily;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-transform: none;
        color: #5D5D5D;
    }

    &__price {
        display: inline-block;
        margin-top: 18px;
        font-family: $fontFamily;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: $mainDecorColor;
    }

}

.overlay {
	opacity: 0;
    position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 160px;
    padding: 185px 133px 188px 110px;
	background-color: rgba(58, 56, 56, 0.86);
	transition: 0.5s all ease-in-out 0s;	
}

.btn--add{
	display: block;
	border: 1px  solid #fff;
	width: 140px;
	background-color: transparent;
	font-family: $fontFamily;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-transform: none;
	color: #fff;
	position: relative;
	padding: 14px 0px 12px 55px;
	&::before{		
		content: url(../../img/bgs/cart.png);
		display: inline-block;
		width: 32px;
		height: 29px;		
		position: absolute;
		top: 8px;		
		left: 10px;	
	}
}


