@import './vars';

.header {
   background-color: #222;
   padding: 18px 0px 19px 0px;
   position: relative;

   &__flex {
      display: flex;
      justify-content: space-between;
   }
}

.left {
   width: 110px;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;

   &:not(:first-child) {
      margin: 0px 0px 0px 20px;
   }

   &__search {
      padding: 0px 0px 0px 0px;
      fill: #E8E8E8;
   }

   &__search button {
      background-color: #222;
   }
}

.right {
   width: 170px;
   display: flex;
   justify-content: space-between;
   align-items: center;


   &__burger {
      position: relative;
      width: 32px;
      height: 23px;

      &::before,
      &::after {
         content: '';
         background-color: #fff;
         position: absolute;
         left: 0;
         width: 100%;
         height: 2px;
      }

      &::before {
         top: 0;
      }

      &::after {
         bottom: 0;
      }

      & span {
         top: 10px;
         position: absolute;
         left: 0;
         background-color: #fff;
         width: 100%;
         height: 2px;
      }

      &:hover {
         cursor: pointer;
      }
   }

}

.menu {
	
   position: absolute;
   top: 75px;
   right: 0;
   height: calc(100vh - 75px);
   background-color: #fff;
   box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
   min-width: 232px;
   padding: 0px 0px 0px 34px;
   z-index: 20;
   overflow: hidden;
	display: none;

   &__title {
      margin: 37px 0px 24px 0px;
      font-family: $fontFamily;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      text-align: left;
      text-transform: uppercase;
      color: 000;
   }

   &__heading {
      font-family: $fontFamily;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      text-align: left;
      color: $mainDecorColor;
      text-transform: uppercase;
      margin: 0px 0px 12px 0px;
   }

   &__list a {
      font-family: $fontFamily;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      text-align: left;
      text-transform: capitalize;
      color: #6F6E6E;

      &:hover {
         color: $mainDecorColor;
      }
   }

   &__list li {
      margin: 0px 0px 11px 0px;
      padding: 0px 0px 0px 15px;

   }

   &__list {
      margin: 0px 0px 20px 0px;
   }
}

#burger {
   display: none;
}

#burger:checked~.menu{	
	display: block;
}

