@import '_vars.scss';
@import '_card.scss';

.promo {
	background: #F1E4E6;
	height: calc(100vh - 75px);


	&__flex {
		height: 100%;
		background: url('../../img/bgs/man.png') bottom left no-repeat;
		background-size: contain;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;
	}

	&__title {
		padding-left: 16px;
		border-left: 12px solid $mainDecorColor;
		display: block;
		max-width: 480px;
		font-family: $fontFamily;
		font-weight: 900;
		font-size: 48px;
		line-height: 57.6px;
		text-transform: uppercase;
		color: #222;
	}
}

.smaller {
	font-family: $fontFamily;
	font-weight: 700;
	font-size: 37px;
	line-height: 44.4px;
	text-transform: inherit;
	color: #222;
}

.pink {
	font-family: $fontFamily;
	font-weight: 700;
	font-size: 37px;
	line-height: 44.5px;
	text-transform: inherit;
	color: $mainDecorColor;
}

.category {
	&__grid {
		margin-top: 65px;
		display: grid;
		grid-template: auto auto /repeat(3, 1fr);
		gap: 30px;
	}

	&__item {
		z-index: 10;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			background: rgba(33, 22, 22, 0.7);
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			z-index: -1;
		}
	}
}


.cat {
	&__text {
		font-family: $fontFamily;
		font-weight: 400;
		font-size: 16px;
		line-height: 19.2px;
		text-transform: uppercase;
		color: #fff;
		text-align: center;
	}

	&__text--decor {
		display: inline-block;
		font-family: $fontFamily;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		text-transform: uppercase;
		color: $mainDecorColor;
		text-align: center;
	}
}

.cat--women {
	padding: 105px 125px;
	background: url('../../img/bgs/women.jpg') no-repeat;
	background-size: cover;
}

.cat--men {
	padding: 100px;
	background: url('../../img/bgs/men.jpg') no-repeat;
	background-size: cover;
}

.cat--kids {
	padding: 100px;
	background: url('../../img/bgs/kids.jpg') no-repeat;
	background-size: cover;
}

.cat--accs {
	padding: 65px 490px;
	background: url('../../img/bgs/accessories.jpg') no-repeat;
	background-size: cover;
	grid-area: 2/1/4/4;

}



.cards {
	text-align: center;

	&__title {
		margin: 96px 0px 0px 0px;
		font-family: $fontFamily;
		font-weight: 400;
		font-size: 30px;
		line-height: 36px;
		text-transform: capitalize;
		color: #222;
	}

	&__subtitle {
		margin-top: 0.5rem;
		font-family: $fontFamily;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		text-transform: none;
		color: #9F9F9F;
	}

	&__grid {
		margin: 48px 0px 0px 0px;
		display: grid;
		grid-template: repeat(2, 580px) / repeat(3, 1fr);
		gap: 30px;
	}

	&__btn {
		display: inline-block;
		font-family: $fontFamily;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-transform: capitalize;
		color: $mainDecorColor;
		padding: 15px 39px;
		border: 1px solid #FF6A6A;
		margin: 0 auto;
		margin-top: 48px;
		margin-bottom: 95px;
		&:hover{
			background: $mainDecorColor;
			color: #fff;
			transition: 0.5s all ease-in-out 0s;
		}
	}
}

.advantages {
	background-color: #222224;
	padding: 102px 230px;

	&__grid {
		display: grid;
		grid-template: auto / repeat(3, 1fr);
		gap: 30px;
	}
}

.item {
	text-align: center;
	vertical-align: top;

	&__img {
		fill: $mainDecorColor;
	}

	&__title {
		margin-top: 30px;
		font-family: $fontFamily;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		text-transform: capitalize;
		color: #FBFBFB;
	}

	&__text {
		margin-top: 16px;
		font-family: $fontFamily;
		font-weight: 300;
		font-size: 15px;
		line-height: 17px;
		text-transform: none;
		color: #FBFBFB;
		vertical-align: top;
	}
}