@import './_vars';

.slider {

   background-color: #F7F7F7;
   border: 1px solid #EAEAEA;
   padding-bottom: 60px;


   &__flex {

      display: flex;
      justify-content: space-between;
      align-items: center;
   }



   &__main {
      margin: 0 auto;
   }

   &__left-arrow {
      background: rgba(38, 38, 38, 0.15);
      padding: 6px 10px;

      & a:hover {
         fill: $mainDecorColor;
      }
   }

   &__right-arrow {
      background: rgba(38, 38, 38, 0.15);
      padding: 6px 10px;

      & a:hover {
         fill: $mainDecorColor;
      }
   }

}

.product {

   margin-top: -60px;

   &__flex {

      margin-top: -48px;
      border: 1px solid #EAEAEA;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;

   }

   &__title {
      margin-top: 64px;
      font-family: $fontFamily;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: $mainDecorColor;
   }

   &__subtitle {
      font-family: $fontFamily;
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      color: #4d4d4d;
   }

   &__text {
      max-width: 555px;
      margin-top: 48px;
      font-family: $fontFamily;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      text-transform: none;
      color: #5e5e5e;
      text-align: center;
   }

   &__price {
      margin-top: 32px;
      font-family: $fontFamily;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
      color: $mainDecorColor;
   }
}

.line1 {
   width: 63px;
   height: 3px;
   background-color: $mainDecorColor;
   margin: 12px auto;
}

.line2 {
   width: 642px;
   height: 1px;
   background-color: #EAEAEA;
   margin: 64px auto;
}



.other-products {	

   &__grid {
		margin: 128px 0px;
		display: grid;
		grid-template: auto /repeat(3, 1fr);
		gap: 31px;
	}
}

